html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.bottom {
  flex: 0 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #060813;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: din-2014, sans-serif;
}
button {
  cursor: pointer;
}
h1 {
  font-size: 3rem;
  line-height: 1.17;
  font-weight: 700;
  color: $blue;
}
h2 {
  font-size: 2rem;
  line-height: 1.25;
  color: $blue;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}
h6 {
  font-size: 1.25rem;
  line-height: 1.4;
}
p {
  font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 32px;
}
// typo
textarea {
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #060813;
  padding: 12px;
  margin-bottom: 32px;
  display: block;
  max-width: 664px;
  width: 100%;
  height: 160px;
  box-shadow: 0 8px 24px 0 rgba(6, 8, 19, 0.08), 0 2px 4px 0 rgba(6, 8, 19, 0.04);
}

.checkbox.checked {
  &::before {
    content: '';
    background-image: url('../images/svg/check-solid.svg');
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 3px;
    margin: 0 auto;
  }
}
.checkbox {
  border-radius: 4px;
  width: 20px;
  height: 20px;
  border: 2px solid $blue;
}
.jq-radio__div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.radio.checked {
  .jq-radio__div {
    background-color: $blue;
  }
}
.radio {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid $blue;
}
input[type='text'] {
  max-width: 316px;
  height: 40px;
  width: 100%;
  box-shadow: 0 8px 24px 0 rgba(6, 8, 19, 0.08), 0 2px 4px 0 rgba(6, 8, 19, 0.04);
  cursor: pointer;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  color: #060813;
  padding: 0 12px;
  margin-bottom: 32px;
}
th {
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}
th,
td {
  padding: 8px 12px;
  border-bottom: 1px solid rgba(#000, 0.25);
}
table {
  border-collapse: collapse;
  margin-bottom: 32px;
}
.typo {
  h4,
  h2 {
    color: $blue;
    margin-bottom: 32px;
  }
  .subtext {
    font-size: 1.25em;
    font-weight: 700;
    margin: 32px 0;
  }
  h6 {
    color: $blue;
    padding: 0;
    background-color: transparent;
  }
}

a {
  font-family: din-2014, sans-serif;
  font-weight: 400;
}

body {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #060813;
}

.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
.btn {
  height: 40px;
  border: 2px solid $blue;
  color: $blue;
  font-size: 0.875rem;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 700;
  padding: 11px 14px 9px;
  text-transform: uppercase;
  transition: all 0.6s;
  background-color: transparent;
  &:hover {
    background-color: rgba(40, 55, 130, 0.1);
    text-decoration: underline;
  }
}
.date {
  font-weight: 700;
  display: block;
  font-size: 0.75rem;
  letter-spacing: 4px;
  line-height: 1;
  opacity: 0.5;
  text-transform: uppercase;
  color: #fff;
}

/// main + aside
main.homepage{
  margin-bottom: 0;
  padding-top: 0;
}
main {
  position: relative;
  padding-top: 60px;
  margin-bottom: 64px;
  h1 {
    margin-bottom: 16px;
  }
  h6 {
    display: inline-block;
    padding: 6px 12px;
    background-color: $blue;
    color: #fff;
    margin-bottom: 32px;
  }

  &::before {
    content: '';
    position: absolute;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #fff, #dde1e6 33%);
  }
}

.main__inner {
  display: flex;
}
.main__wrapper {
  width: 100%;
  position: relative;
}
.aside {
  margin-left: 32px;
  position: relative;
  max-width: 316px;
  width: 100%;
  .clanky__inner {
    margin-left: 0;
  }
  .item {
    margin-left: 0;
    flex: 100%;
  }
}
.main.clanek-page,
.main.realizacny-tym-page,
.main.partneri-page {
  .aside {
    max-width: 432px;
  }
}
.aside__menu {
  li {
    border-bottom: 1px solid #ccc8c8;
    padding: 0 16px;
    .active {
      text-decoration: underline;
    }
    &:first-child a {
      padding-top: 0;
    }
  }
  li a {
    font-size: 1rem;
    padding: 8px 10px 8px 20px;
    line-height: 1.75;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/svg/balon.svg');
      left: 0;
      bottom: 16px;
      width: 13px;
      height: 12px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

// select
.select__redirect {
  box-shadow: 0 8px 24px 0 rgba(6, 8, 19, 0.08), 0 2px 4px 0 rgba(6, 8, 19, 0.04);
  cursor: pointer;
  display: block;
  background-color: #fff;
  max-width: 316px;
  width: 100%;
  color: #060813;
  margin-bottom: 32px;
  border-radius: 4px;
  border: none;
  height: 40px;
}
.jq-selectbox__select-text {
  width: 100% !important;
  padding: 12px;
  font-size: 1rem;
  color: #060813;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: 11px;
    width: 12px;
    height: 7px;
    background-image: url('../images/svg/path.svg');
    background-repeat: no-repeat;
    background-size: cover;
    top: 18px;
  }
}
.jq-selectbox__dropdown {
  background-color: #fff;
  color: $blue;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 4px;
  text-align: left;
  width: 100% !important;
  left: 0;
  top: 44px !important;
  padding: 12px 0;
  color: #060813;
}
.jq-select-multiple li,
.jq-selectbox li {
  font-size: 1rem;
  text-align: left;
  padding: 8px 15px;
  transition: all 0.4s;
  &:hover {
    background-color: $blue;
    color: #fff;
    border-radius: 4px;
  }
}

/// pagination
.pagination {
  margin-top: 30px;
  display: flex;
  width: 100%;
}
.pagination__list {
  li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
  }
  a,
  span {
    width: 38px;
    height: 33px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: black;
    transition: all 0.6s;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    &.active {
      background-color: $blue;
      color: #fff;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}
.pagination-next {
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 38px;
  height: 33px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  transition: all 0.5s;
  border-radius: 4px;
  svg g {
    transition: all 0.1s;
  }
  &:hover {
    background-color: $blue;
    svg g {
      fill: #fff;
    }
  }
}

// table
.table {
  tr td:first-child {
    font-weight: 700;
  }
  th:first-child,
  tr td:first-child {
    text-align: left;
    padding-left: 8px;
  }
  td {
    line-height: 1.78;
    font-size: 1.125rem;
    border-bottom: 1px solid #ccc8c8;
    padding: 8px;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}

hr {
  border: none;
  border-bottom: 1px solid #ccc8c8;

  margin: 10px 0;
}
