.zapasy-page{
   padding-top: 55px;
   h1{
      text-transform: uppercase;
   }
   &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .select__redirect{
         margin-bottom: 0;
      }
   }
}